<div class="modal fade" id="myEdit" role="dialog">
  <div class="modal-dialog modal-lg">
      <form  class="well contact-form" method="post" action="{% url 'data_prepare' %}">
        {% csrf_token %}
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Drop Column</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            Do you want to drop the column <u>{{ column_name }}</u> column ?
            <input type="hidden" class="form-control" name="dropColumnName" value="{{ column_name }}">

         </div>
          <div class="modal-footer">
            <button  type="submit" class="btn btn-danger">Yes</button>
            <button  value="" type="button" class="btn btn-success" data-dismiss="modal">No</button>
          </div>
         </div>
      </form>

  </div>
</div>
