<div class="modal fade" id="myEdit" role="dialog">
  <div class="modal-dialog modal-lg">
      <form  class="well contact-form" method="post" action="{% url 'data_prepare' %}">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Look for Outliers</h4>
          </div>
          <div class="modal-body">

          <input type="hidden" class="form-control" name="lookoutlierColumnName" value="{{ column_name }}">


           <div class="table-responsive">
             <img width="800px" alt="embedded" src="data:image/png;base64,{{ value_list }}"/>
             <!-- {{ value_list | safe}} -->
           </div>


         </div>
          <div class="modal-footer">
            <button  type="submit" class="btn btn-danger">Remove</button>
            <button  value="" type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          </div>
         </div>
      </form>

  </div>
</div>
